html{
    scroll-behavior: smooth;
}

*{
    
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    /* background-color: whitesmoke; */
    text-align: center;
}
a{
    text-decoration: none;
    /* color: black; */
    /* color: #000000;
     */
     color: rgb(67, 64, 64);
}
div{
    border: 1px solid black;
}

.navbar{
    margin: -8px;
    display: flex;
    flex-direction: row;
    background-color:#ffffff;
    /* color: black; */
    color: #000000;
    padding: 1em;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}

.nav-logo{
    left: 8%;
    position: relative;
    height: 50px;
    width: 250px;
    line-height: 0%;
}

.nav-logo h1{
    font-size: xx-large;
    /* color: rgb(79, 224, 193); */
    
}

.navs{
    position: relative;
    left: 20%;
    font-size: x-large;
    text-align: center;
    /* height: 80px; */
    line-height: 230%;
    padding-right: 2em;
}


.nav{   
    background-color:rgb(208, 211, 44);
    padding: 1em;
    margin: -8px;
    position: sticky;
    top: 0px;
    z-index: 1;
    
}


.nav a{
    text-decoration: none;
    margin: 20px;
    color: blue;
    
}

#quick-links{
    top: 10em;
    position: fixed;
    right: 10px;
}

#quick-links a{
    text-decoration: none;
}


#main{
    /* background-image: url("../images/bg_image.jpg"); */
    /* background-color:rgb(79, 224, 193); */
    background-color: #0BCEAF;
    margin: -8px;
    height: 100vh;

    /* border: 2px solid blue; */
    
}

.intro{
    margin: 20px;
    /* border: 2px solid black; */
    width: 90%;
    height: 100%;

}

.my-img-box{
    /* border: 2px solid cyan; */
    width: 50%;
    height: 80%;
    /* margin: 0 auto; */
    /* padding: 10px; */
    /* margin-left: 10%; */
    float: left;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:end;
    flex-direction: column;
    
}

.my-img-box img{
    width: 400px;
    height: 400px;
    
}


#my-text-box{
    padding: 20px;
    /* border: 2px solid black; */
    width: 40%;
    height: 70%;
    float: right;
    margin-top: 3%;
    margin-right: 5%;
    display: flex;
    justify-content:center;
    align-items:start;
    flex-direction: column;
    
}



#my-text-box div{
    color: white;
    text-align: left;
}

#my-text-box .b1{
    font-size: 30px;
}

#my-text-box .b2{
    font-size: 65px;
}


#my-text-box .b3{
    font-size: 40px;
    line-height: 50px;
    /* position: absolute; */
    /* width: 500px; */
    height: 50px;
    
}

.btn1{
    width: 60%;
    display: flex;
    justify-content: center;
}

.btn1-resume{
    margin: 1cm;
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    /* padding: 50px; */
    
}

.resume-btn{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    font-size: 20px;
    vertical-align: middle;
    border-color: white;
    background-color: transparent;
    color: #ffffff;
    /* font-weight: bold; */
}

.my-photo{
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
    clip-path: circle(50% at 50% 50%);

    height: 300px;
    width: 300px;
    /* align-items: center; */
    /* left: 20%; */
    position:relative;
}



.projects-set h1{
    font-size: 40px; 
    text-align: center;
    color: #0BCEAF;
}



.proj-box{
    width: 15%;
    height: 200px;
    border: 2px solid black;
    line-height: 50px;
    margin: 2em;
    /* background-color: lightgreen; */
    text-align: center;
    padding: 20px;
}

.proj-box img{
    width: 100px;
    height: 100px;
}

.projects-box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}


.all-projects{
    width: 95%;
    height: max-content;
    /* border: 2px solid blueviolet; */
    text-align: center;
    margin: 1em;
    margin-left: 1.5em;
}

.proj-domain{
    /* border: 2px solid black; */
    display: block;
    padding: 1em;
}

.ml-sub{
    height: fit-content;
    /* border: 2px solid pink; */
    margin: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}

.proj-heading{
    text-align: center;
    vertical-align:middle;
    width: 500px;
    margin: 20px;
}

.proj{
    margin: 2px;
    /* border: 2px solid greenyellow; */
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.proj img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.web-sub, .app-sub{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}

.web-sub .proj, .app-sub .proj{
    margin: 1cm;
}

.ml-proj-btn{
    border-radius: 10cm;
    width: 50%;
    height: 20%;
    margin: 10px;
    background-color: #0BCEAF;
    color: white;
    font-size: larger;
    font-weight:bold;

}


.ml-sub, .web-sub, .app-sub{
    border: 2px solid black;
}