<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            anpter
        </li>
        <li>
            <a onclick="return GB_showFullScreen('Esigned Template Demo', this.href)" href="index.html">
                This is my link
            </a>
        </li>

    </ul>
    <iframe src="index.html" frameborder="0" width="1000cm" height="1000cm"></iframe>
</body>
</html>